## Tesing  wiht web scraping

pip install requests beautifulsoup4 pandas

In [2]:
import yfinance as yf
import pandas as pd

## AAPPL Data

In [39]:

def fetch_historical_data(symbol, start_date="1970-01-01"):
    """
    Fetch historical stock data from Yahoo Finance using yfinance.

    Parameters:
    - symbol (str): The stock ticker symbol (e.g., 'AAPL').
    - start_date (str): The start date for the data in 'YYYY-MM-DD' format. Default is '1970-01-01'.

    Returns:
    - pd.DataFrame: A dataframe containing historical stock data.
    """
    try:
        # Fetch data
        print(f"Fetching data for {symbol} from {start_date}...")
        data = yf.download(symbol, start=start_date)
        if data.empty:
            print(f"No data found for symbol {symbol}.")
        else:
            print(f"Data fetched successfully for {symbol}.")
        return data
    except Exception as e:
        print(f"An error occurred: {e}")
        return pd.DataFrame()

# Example usage
if __name__ == "__main__":
    # Set the stock symbol and fetch data
    stock_symbol = "AAPL"  # Replace with the desired stock symbol
    historical_data = fetch_historical_data(stock_symbol)

    # Save to CSV (optional)
    if not historical_data.empty:
        historical_data.to_csv(f"{stock_symbol}_historical_data.csv")
        print(f"Historical data saved to {stock_symbol}_historical_data.csv")

    # Display the first few rows of data
    print(historical_data.head())

Fetching data for AAPL from 1970-01-01...

[*********************100%***********************]  1 of 1 completed

1 Failed download:
['AAPL']: ReadTimeout(ReadTimeoutError("HTTPSConnectionPool(host='query2.finance.yahoo.com', port=443): Read timed out. (read timeout=10)"))

No data found for symbol AAPL.
Empty DataFrame
Columns: [(Adj Close, AAPL), (Close, AAPL), (High, AAPL), (Low, AAPL), (Open, AAPL), (Volume, AAPL)]
Index: []

In [40]:
appl_rows = historical_data.shape[0]
appl_rows

0

In [30]:
## With Date columnimport yfinance as yf
import pandas as pd

# Fetch data with yfinance
def fetch_historical_data(symbol, start_date="1970-01-01"):
    """
    Fetch historical stock data using yfinance.

    Parameters:
    - symbol (str): Stock ticker symbol (e.g., 'AAPL').
    - start_date (str): Start date for data (format 'YYYY-MM-DD').

    Returns:
    - pd.DataFrame: DataFrame containing historical data with the 'Date' column.
    """
    try:
        print(f"Fetching historical data for {symbol}...")
        data = yf.download(symbol, start=start_date)

        # Ensure 'Date' column is properly set
        if not data.empty:
            data.reset_index(inplace=True)  # Ensure 'Date' is a column, not the index
            print(f"Fetched {len(data)} rows of data.")
        else:
            print("No data found!")

        return data
    except Exception as e:
        print(f"Error: {e}")
        return pd.DataFrame()

# Example usage
if __name__ == "__main__":
    stock_symbol = "AAPL"  # Replace with desired stock symbol
    historical_data = fetch_historical_data(stock_symbol)

    if not historical_data.empty:
        # Save data to a CSV file
        historical_data.to_csv(f"Data Historical/{stock_symbol}_data.csv", index=False)
        print(historical_data.head())  # Display the first few rows

Fetching historical data for AAPL...

[*********************100%***********************]  1 of 1 completed

Fetched 11080 rows of data.
Price        Date Adj Close     Close      High       Low      Open     Volume
Ticker                 AAPL      AAPL      AAPL      AAPL      AAPL       AAPL
0      1980-12-12  0.098834  0.128348  0.128906  0.128348  0.128348  469033600
1      1980-12-15  0.093678  0.121652  0.122210  0.121652  0.122210  175884800
2      1980-12-16  0.086802  0.112723  0.113281  0.112723  0.113281  105728000
3      1980-12-17  0.088951  0.115513  0.116071  0.115513  0.115513   86441600
4      1980-12-18  0.091530  0.118862  0.119420  0.118862  0.118862   73449600

In [29]:
historical_data.tail(10)

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
11070,2024-11-11,224.229996,224.229996,225.699997,221.500000,225.000000,42005600
11071,2024-11-12,224.229996,224.229996,225.589996,223.360001,224.550003,40398300
11072,2024-11-13,225.119995,225.119995,226.649994,222.759995,224.009995,48566200
11073,2024-11-14,228.220001,228.220001,228.869995,225.000000,225.020004,44923900
11074,2024-11-15,225.000000,225.000000,226.919998,224.270004,226.399994,47923700
11075,2024-11-18,228.020004,228.020004,229.740005,225.169998,225.250000,44686000
11076,2024-11-19,228.279999,228.279999,230.160004,226.660004,226.979996,36211800
11077,2024-11-20,229.000000,229.000000,229.929993,225.889999,228.059998,35169600
11078,2024-11-21,228.520004,228.520004,230.160004,225.710007,228.880005,42071900
11079,2024-11-22,229.447601,229.447601,230.130005,228.059998,228.059998,8163149

## Bitcoin Data

In [33]:
## With Date columnimport yfinance as yf
import pandas as pd

# Fetch data with yfinance
def fetch_historical_data(symbol, start_date="1970-01-01"):
    """
    Fetch historical stock data using yfinance.

    Parameters:
    - symbol (str): Stock ticker symbol (e.g., 'AAPL').
    - start_date (str): Start date for data (format 'YYYY-MM-DD').

    Returns:
    - pd.DataFrame: DataFrame containing historical data with the 'Date' column.
    """
    try:
        print(f"Fetching historical data for {symbol}...")
        data = yf.download(symbol, start=start_date)

        # Ensure 'Date' column is properly set
        if not data.empty:
            data.reset_index(inplace=True)  # Ensure 'Date' is a column, not the index
            print(f"Fetched {len(data)} rows of data.")
        else:
            print("No data found!")

        return data
    except Exception as e:
        print(f"Error: {e}")
        return pd.DataFrame()

# Example usage
if __name__ == "__main__":
    stock_symbol = "BTC-USD"  # Replace with desired stock symbol
    historical_data = fetch_historical_data(stock_symbol)

    if not historical_data.empty:
        # Save data to a CSV file
        historical_data.to_csv(f"Data Historical/{stock_symbol}_data.csv", index=False)
        print(historical_data.head())  # Display the first few rows

Fetching historical data for BTC-USD...

[*********************100%***********************]  1 of 1 completed

Fetched 3720 rows of data.
Price        Date   Adj Close       Close        High         Low        Open  \
Ticker                BTC-USD     BTC-USD     BTC-USD     BTC-USD     BTC-USD
0      2014-09-17  457.334015  457.334015  468.174011  452.421997  465.864014
1      2014-09-18  424.440002  424.440002  456.859985  413.104004  456.859985
2      2014-09-19  394.795990  394.795990  427.834991  384.532013  424.102997
3      2014-09-20  408.903992  408.903992  423.295990  389.882996  394.673004
4      2014-09-21  398.821014  398.821014  412.425995  393.181000  408.084991

Price     Volume
Ticker   BTC-USD
0       21056800
1       34483200
2       37919700
3       36863600
4       26580100

In [34]:
historical_data.tail()

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,BTC-USD,BTC-USD,BTC-USD,BTC-USD,BTC-USD,BTC-USD
3715,2024-11-18,90542.640625,90542.640625,92596.789062,89393.593750,89843.718750,75535775084
3716,2024-11-19,92343.789062,92343.789062,94002.867188,90426.984375,90536.812500,74521048295
3717,2024-11-20,94339.492188,94339.492188,94902.023438,91619.500000,92341.890625,71730956426
3718,2024-11-21,98504.726562,98504.726562,99014.218750,94132.601562,94334.640625,106024505582
3719,2024-11-22,98807.609375,98807.609375,99481.390625,97319.523438,98453.703125,84505018368

In [35]:
#to get the number of rows 
count_row = historical_data.shape[0]
count_row

3720

In [3]:
path = "/home/onizuka/jupyter_env/Data Historical/AAPL_data.csv"
df = pd.read_csv(path)
df.tail()

,Date,Adj Close,Close,High,Low,Open,Volume
11076,2024-11-18,228.02000427246094,228.02000427246094,229.74000549316406,225.1699981689453,225.25,44686000
11077,2024-11-19,228.27999877929688,228.27999877929688,230.16000366210938,226.66000366210938,226.97999572753906,36211800
11078,2024-11-20,229.0,229.0,229.92999267578125,225.88999938964844,228.05999755859375,35169600
11079,2024-11-21,228.52000427246094,228.52000427246094,230.16000366210938,225.7100067138672,228.8800048828125,42071900
11080,2024-11-22,229.52000427246094,229.52000427246094,230.1300048828125,228.05999755859375,228.05999755859375,8449370