## Tesing  wiht web scraping

In [2]:
import yfinance as yf
import pandas as pd

In [ ]:
#appl_rows = historical_data.shape[0]
#appl_rows

0

In [4]:

# Fetch data with yfinance
def fetch_historical_data(symbol, start_date="1970-01-01"):
    """
    Fetch historical stock data using yfinance.

    Parameters:
    - symbol (str): Stock ticker symbol (e.g., 'AAPL').
    - start_date (str): Start date for data (format 'YYYY-MM-DD').

    Returns:
    - pd.DataFrame: DataFrame containing historical data with the 'Date' column.
    """
    try:
        print(f"Fetching historical data for {symbol}...")
        data = yf.download(symbol, start=start_date)

        # Ensure 'Date' column is properly set
        if not data.empty:
            data.reset_index(inplace=True)  # Ensure 'Date' is a column, not the index
            print(f"Fetched {len(data)} rows of data.")
        else:
            print("No data found!")

        return data
    except Exception as e:
        print(f"Error: {e}")
        return pd.DataFrame()

# Example usage
if __name__ == "__main__":
    stock_symbol = "AAPL"  # Replace with desired stock symbol
    historical_data = fetch_historical_data(stock_symbol)

    if not historical_data.empty:
        # Save data to a CSV file
        historical_data.to_csv(f"Data Historical/{stock_symbol}_data.csv", index=False)
        print(historical_data.head())  # Display the first few rows

Fetching historical data for AAPL...

[*********************100%***********************]  1 of 1 completed

Fetched 11140 rows of data.
Price        Date     Close      High       Low      Open     Volume
Ticker                 AAPL      AAPL      AAPL      AAPL       AAPL
0      1980-12-12  0.098726  0.099155  0.098726  0.098726  469033600
1      1980-12-15  0.093575  0.094005  0.093575  0.094005  175884800
2      1980-12-16  0.086707  0.087136  0.086707  0.087136  105728000
3      1980-12-17  0.088853  0.089282  0.088853  0.088853   86441600
4      1980-12-18  0.091429  0.091858  0.091429  0.091429   73449600

In [5]:
historical_data.tail(10)

Price        Date       Close        High         Low        Open    Volume
Ticker                   AAPL        AAPL        AAPL        AAPL      AAPL
11130  2025-02-10  227.649994  230.589996  227.199997  229.570007  33115600
11131  2025-02-11  232.619995  235.229996  228.130005  228.199997  53718400
11132  2025-02-12  236.869995  236.960007  230.679993  231.199997  45243300
11133  2025-02-13  241.529999  242.339996  235.570007  236.910004  53614100
11134  2025-02-14  244.600006  245.550003  240.990005  241.250000  40896200
11135  2025-02-18  244.470001  245.179993  241.839996  244.149994  48822500
11136  2025-02-19  244.869995  246.009995  243.160004  244.660004  32204200
11137  2025-02-20  245.830002  246.779999  244.289993  244.940002  32316900
11138  2025-02-21  245.550003  248.690002  245.220001  245.949997  53119400
11139  2025-02-24  247.554993  248.860001  244.589996  244.807999  24437621