## Tesing  wiht web scraping

In [1]:
import yfinance as yf
import pandas as pd

In [2]:
#appl_rows = historical_data.shape[0]
#appl_rows

In [3]:
import pandas as pd

# Fetch data with yfinance
def fetch_historical_data(symbol, start_date="1970-01-01"):
    """
    Fetch historical stock data using yfinance.

    Parameters:
    - symbol (str): Stock ticker symbol (e.g., 'AAPL').
    - start_date (str): Start date for data (format 'YYYY-MM-DD').

    Returns:
    - pd.DataFrame: DataFrame containing historical data with the 'Date' column.
    """
    try:
        print(f"Fetching historical data for {symbol}...")
        data = yf.download(symbol, start=start_date)

        # Ensure 'Date' column is properly set
        if not data.empty:
            data.reset_index(inplace=True)  # Ensure 'Date' is a column, not the index
            print(f"Fetched {len(data)} rows of data.")
        else:
            print("No data found!")

        return data
    except Exception as e:
        print(f"Error: {e}")
        return pd.DataFrame()

# Example usage
if __name__ == "__main__":
    stock_symbol = "AAPL"  # Replace with desired stock symbol
    historical_data = fetch_historical_data(stock_symbol)

    if not historical_data.empty:
        # Save data to a CSV file
        historical_data.to_csv(f"Data Historical/{stock_symbol}_data.csv", index=False)
        print(historical_data.head())  # Display the first few rows

Fetching historical data for AAPL...

[*********************100%***********************]  1 of 1 completed

Fetched 11120 rows of data.
Price        Date Adj Close     Close      High       Low      Open     Volume
Ticker                 AAPL      AAPL      AAPL      AAPL      AAPL       AAPL
0      1980-12-12  0.098834  0.128348  0.128906  0.128348  0.128348  469033600
1      1980-12-15  0.093678  0.121652  0.122210  0.121652  0.122210  175884800
2      1980-12-16  0.086802  0.112723  0.113281  0.112723  0.113281  105728000
3      1980-12-17  0.088951  0.115513  0.116071  0.115513  0.115513   86441600
4      1980-12-18  0.091530  0.118862  0.119420  0.118862  0.118862   73449600

In [4]:
historical_data.tail(10)

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,AAPL,AAPL,AAPL,AAPL,AAPL,AAPL
11110,2025-01-10,236.850006,236.850006,240.160004,233.000000,240.009995,61710900
11111,2025-01-13,234.399994,234.399994,234.669998,229.720001,233.529999,49630700
11112,2025-01-14,233.279999,233.279999,236.119995,232.470001,234.750000,39435300
11113,2025-01-15,237.869995,237.869995,238.960007,234.429993,234.639999,39832000
11114,2025-01-16,228.259995,228.259995,238.009995,228.029999,237.350006,71759100
11115,2025-01-17,229.979996,229.979996,232.289993,228.479996,232.119995,68488300
11116,2025-01-21,222.639999,222.639999,224.419998,219.380005,224.000000,98070400
11117,2025-01-22,223.830002,223.830002,224.119995,219.789993,219.789993,64126500
11118,2025-01-23,223.660004,223.660004,227.029999,222.300003,224.740005,60178200
11119,2025-01-24,222.779999,222.779999,225.630005,222.350098,224.975006,24824447